/node_modules
/public/build
/public/hot
/public/storage
/public/*.log
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.kilo
/.kilocode
/.continue
/.scribe
/nbproject
/error_log
/output.log
/temp.txt
/tmp_*
*.sql
*.pdf
*.zip
/nul
/whereIn('status'
/id}
/name}
node_modules
node_modules
